body {
    font-family: Arial, sans-serif;
    width: 300px;
    padding: 10px;
  }
  
  #display {
    height: 50px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #ccc;
  }
  
  textarea {
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    margin-right: 5px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  #speedSlider {
    width: 100%;
  }
  